# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.High-Intensity Animations.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\s0nic\Unity Projects\3DE-HCA\High-Intensity Animations\.idea\.idea.High-Intensity Animations\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
